<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">My Carts</h1>
        <ol class="breadcrumb mb-4">
        </ol>
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Shopping carts
            </div>
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                        <tr>
                            <th>Cart Number</th>
                        </tr>
                    </thead>
                    <tbody>
                      <% @carts.each do |cart| %>
                      <tr>
                        <td>
                          <%= link_to "#{cart.number}", cart_path(cart) %>
                        </td>
                      </tr>
                      <% end %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
