<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">My Carts</h1>
        <ol class="breadcrumb mb-4">
        </ol>
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Your selected items
            </div>
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                        <tr>
                          <th>Item</th>
                          <th>Image</th>
                          <th>Quantaty</th>
                          <th>Price</th>
                          <th>Subtotal</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                          <th>Item</th>
                          <th>Image</th>
                          <th>Quantaty</th>
                          <th>Price</th>
                          <th>Subtotal</th>
                        </tr>
                    </tfoot>
                    <tbody>
                      <% @total = 0 %>
                      <% @cart.items.each do |item| %>
                        <tr class="" id="update_item_attr_<%= item.id %>">
                          <%= render 'item', item: item %>
                        </tr>
                        <% @total = @total + (item.quantity * item.price) %>
                      <% end %>
                    </tbody>
                </table>
                <div class="position-absolute bottom-0 end-0 p-2">
                  <span><b>Total: </b></span><span id="update_total_amount" class="mr-1"><%= @total %></span>
                  <%= link_to "Delete Cart", cart_path(@cart), method: :delete, data: { confirm: "Are you sure, you want to delete the cart?"}, class: "btn btn-xs btn-danger" %>
                </div>
            </div>
        </div>
    </div>
</main>

<script>
  function increaseItemQuantity(item_id){
    $.ajax({
      url: "/increase_quantity",
      type: 'GET',
      data: { item_id: item_id }
    })
  }

  function decreaseItemQuantity(item_id){
    $.ajax({
      url: "/decrease_quantity",
      type: 'GET',
      data: { item_id: item_id }
    })
  }

  function removeItemFromCart(item_id){
    var result = confirm("Are you sure, you want to remove this item?");
    if (result) {
      $.ajax({
        url: "/remove_item",
        type: 'GET',
        data: { item_id: item_id }
      })
    } else {
      return false
    }
  }
</script>
